datasets==2.19.1
reportlab==4.2.0 
huggingface_hub==0.23.0
ijson==3.2.3
pandas==2.2.2
PyPDF2==3.0.1
PyYAML==6.0.1
Requests==2.32.2
requests_cache==1.2.0
Scrapy==2.11.1
tqdm==4.66.2
mock==5.1.0
numpy == 1.23.2
langid == 1.1.6
lmqg==0.1.1
spacy==3.7.4
accelerate==0.30.1
transformers==4.41.1
torch==2.3.0
peft==0.11.1
bitsandbytes==0.43.1
trl==0.8.6
